<div class="container">
    <div class="row">
        <div class="col-md-12 titulo">
            <h1>Video Club</h1>    
            <hr> 
        </div>  
         
    </div>   
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3" id="login-form">
            <div class="row" id="campo">
            <h2>Registro Usuario</h2>
            </div>
            <div class="row" id="campo">
                <label for="user" ><h4>Email</h4></label>               
                <input type="email" class="form-control" [formControl]="emailCtrl">
            </div>
            <div class="row" id="campo">
                <label for="pass"><h4>Contraseña</h4></label>
                <input  type="password" class="form-control" [formControl]="passCtrl">
            </div>
            <div class="row" id="campo">
                <label for="pass"><h4>Confirmación Contraseña</h4></label>
                <input  type="password" class="form-control" [formControl]="passConfirmCtrl">
            </div>
            <div class="row" id="msj" *ngIf="emailCtrl.hasError && emailCtrl.dirty">
                <p><small *ngIf="emailCtrl.hasError('required')">Email requerido</small></p>
                <p><small *ngIf="emailCtrl.hasError('email')">Email con formato incorrecto</small></p>
                <p><small *ngIf="passCtrl.hasError('required') && passCtrl.dirty">Contraseña requerida</small></p>
                <p><small *ngIf="passCtrl.hasError('minlength')">Contraseña debe tener mínimo 8 caracteres</small></p>
            
            </div>

            <div class="row" id="campo"> <!--routerLink="listado"-->
                <button id="boton" [disabled]="emailCtrl.invalid || passCtrl.invalid"  type="button" ><h4>Registrar</h4></button>                
            </div>
              
        </div>
    </div>
</div>
    
